body {
  height: 97vh;
  background-color: #ffd11a;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.card {
  height: 28%;
  width: 15%;
  margin: .4rem;
  position: relative;
  cursor: pointer;
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 6px;
}

.card-back {
background-image: url(../images/blue.jpg);
}

.el-arpa {
  background-image: url(../images/el-arpa.jpg)
}

.el-apache {
  background-image: url(../images/el-apache.jpg);
}

.el-barril {
  background-image: url(../images/el-barril.jpg);
}

.el-borracho {
  background-image: url(../images/el-borracho.jpg);
}

.el-gorrito {
  background-image: url(../images/el-gorrito.jpg);
}

.el-musico {
  background-image: url(../images/el-musico.jpg);
}

.el-soldado {
  background-image: url(../images/el-soldado.jpg);
}

.el-tambor {
  background-image: url(../images/el-tambor.jpg);
}

.el-violoncello {
  background-image: url(../images/el-violoncello.png);
}


header {
  justify-content: center;
  font-size: 2rem;
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
  margin: auto;
}

.row.two {
  height: 80%;
}

aside {
  display: flex;
  flex-direction: column;
}

.aside-divs {
  height: 13%;
  width: 85%;
  background-color:  #ff3300;
  margin: auto;
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px white, 0 0 25px #ffd11a, 0 0 5px white;
  margin-bottom: 2%;
}

p {
font-size: 1.2rem;
align-self: center;
}

.display-styling {
  text-decoration: overline underline;
  position: relative;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-content {
  background-color: rgba(54, 90, 209, 0.97);
  width: 40%;
  height: 50%;
  position: relative;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  color: #ffd11a;
  font-family: 'Poppins', sans-serif;
}

#reset-button {
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  padding: 10px;
  font-size: 2.8em;
  background-color: #ff3300;
  color: white;
  border: none;
}

.hidden {
  display: none;
}

#congrats {
  font-size: 3rem;
}

#main-title {
  color: #ff3300;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  .row.two {
    justify-content: space-around;
  }

  .card {
    height: 18%;
    width: 20%;
  }

    header h1 {
    font-size: 2rem;
  }

    p {
	font-size: 1rem;
  }

  .card {
    width: 14%;
    height: 25%;
  }
}

@media screen and (min-width: 667px) and (max-width: 767px) {

  h1 {
    font-size: 1.5rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    height: 85%;
    display: unset;
  }

  p {
    font-size: 1rem;
  }

  .card {
    width: 12%;
    height: 20%;
  }
}

@media screen and (max-width: 666px) {
  header {
    margin: .5rem auto 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
	font-size: .5rem;
  }

  .row.two {
    margin: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 85%;
  }
  aside {
    width: 100%;
    display: flex;
    height: 10%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10%;
    align-self: center;
    justify-content: space-around;
  }

  .aside-divs{
      height: 2.5rem;
      /* width: 80%; */
      margin: 0.5%;
  }
  .aside-divs:first-child{
     display:none;
  }
  aside div {
    width: 80%;
    border-radius: 10px;
    margin: .2rem;
    padding: .2rem 0.3rem;
  }
  main {
    height: 80%;
    margin: auto;
    padding-top: 1rem;
  }

  .modal-content {
    width: 60%;
    height: 40%;
  }

  #congrats {
    font-size: 1.3rem;
  }

  #reset-button {
    font-size: 1rem;
  }

  .card {
    height: 22%;
    width: 14%;
    margin: .2rem;
  }
}
