body {
  height: 95vh;
  background-color: #ffd11a;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: auto;
  height: 90vh;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.card {
  height: 30%;
  width: 15%;
  margin: .4rem;
  position: relative;
  cursor: pointer;
}

.card-back:hover, #reset-button:hover {
  box-shadow:  0 0 10px 5px #fffbad;
      -moz-box-shadow: 0 0 10px  5px #fffbad;
      -webkit-box-shadow: 0 0 10px 5px #fffbad;
      -o-box-shadow: 0 0 10px 5px #fffbad;
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.05);
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 6px;
}

.card-back {
background-image: url(../images/blue.jpg);
}

.el-arpa {
  background-image: url(../images/el-arpa.jpg)
}

.el-apache {
  background-image: url(../images/el-apache.jpg);
}

.el-barril {
  background-image: url(../images/el-barril.jpg);
}

.el-borracho {
  background-image: url(../images/el-borracho.jpg);
}

.el-gorrito {
  background-image: url(../images/el-gorrito.jpg);
}

.el-musico {
  background-image: url(../images/el-musico.jpg);
}

.el-soldado {
  background-image: url(../images/el-soldado.jpg);
}

.el-tambor {
  background-image: url(../images/el-tambor.jpg);
}

.el-violoncello {
  background-image: url(../images/el-violoncello.png);
}

.row.one {
  height: 20vh;
  display: flex;
}

header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 5vh;
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
  margin: auto;
  padding-top: 0;
}

h1 {
  color: #ff3300;
  align-self: center;
}

.row.two {
  height: 75vh;
  justify-content: center;
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
}

.aside-divs {
  height: 13%;
  width: 85%;
  background-color:  #ff3300;
  margin: auto;
  text-align: center;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 2px white, 0 0 25px #ffd11a, 0 0 5px white;
  margin-bottom: 2%;
}

p {
font-size: 1.2rem;
align-self: center;
}

.display-styling {
  text-decoration: overline underline;
  position: relative;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-content {
  background-color: rgba(0, 158, 16, 0.97);
  width: 40%;
  height: 65%;
  position: relative;
  text-align: center;
  align-content: center;
  border-radius: 8px;
  margin-right: 2%;
  margin-top: 2%;
  color: #ffd11a;
  font-family: 'Poppins', sans-serif;
}

#win {
  margin-bottom: 0;
}

.contain-conf {
  width: 100%;
  height: 100%;
  position: absolute;
}

.confetti {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-animation: confetti 5s ease-in-out -2s infinite;
          animation: confetti 5s ease-in-out -2s infinite;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.confetti:nth-child(1) {
  background-color: red;
  left: 10%;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.confetti:nth-child(2) {
  background-color: #f2d74e;
  left: 20%;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;

}

.confetti:nth-child(3) {
  background-color: white;
  left: 30%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.confetti:nth-child(4) {
  background-color: #f2d74e;
  left: 40%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.confetti:nth-child(5) {
  background-color: red;
  left: 50%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.confetti:nth-child(6) {
  background-color: #f2d74e;
  left: 60%;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.confetti:nth-child(7) {
  background-color: #f2d74e;
  left: 70%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.confetti:nth-child(8) {
  background-color: white;
  left: 80%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.confetti:nth-child(9) {
  background-color: red;
  left: 90%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}

.confetti:nth-child(10) {
  background-color: #f2d74e;
  left: 100%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

@-webkit-keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

@keyframes confetti {
  0% {
    -webkit-transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
            transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    -webkit-transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
            transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    -webkit-transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
            transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    -webkit-transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
            transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    -webkit-transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
            transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

#reset-button {
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  padding: 10px;
  font-size: 2.8em;
  position: relative;
  z-index: 2;
  background-color: #ff3300;
  color: white;
  border: none;
}



.hidden {
  display: none;
}

.congrats {
  font-size: 3rem;
}

@media screen and (max-width: 1024px) {
  body {
    overflow: hidden;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  .row.two {
    justify-content: space-evenly;
  }

  aside {
    height: 80%;
    margin-top: 2%;
  }

  main {
    height: 85%;
  }

    header {
    margin-top: 4%;
    }

    h1 {
    font-size: 3rem;
  }

    p {
	font-size: 1rem;
  }

  .card {
    width: 15%;
    height: 28%;
    margin: 0.5%;
  }

  .modal-content {
    align-content: center;
    width: 60%;
    height: 55%;
  }
}

@media screen and (min-width: 667px) and (max-width: 767px) {

  h1 {
    font-size: 1.9rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    height: 85%;
    display: unset;
  }

  #gameCards {
    height: 80%;
  }

  p {
    font-size: 1rem;
  }

  .card {
    width: 14%;
    height: 36%;
    margin: 0.5%;
  }

  .modal-content {
    width: 60%;
    height: 50%;
  }

  .congrats {
    font-size: 1.3rem;
  }

  #reset-button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 666px) {

  header {
    text-align: center;
    margin-top: 5vh;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
	font-size: .2rem;
  }

  .row.one {
    height: 12vh;
  }

  .row.two {
    margin: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 80vh;
  }
  aside {
    width: 100%;
    display: flex;
    height: 10%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    align-self: center;
    justify-content: space-around;
    margin-top: 2vh;
  }

  .aside-divs{
      height: 2.5rem;
      margin: 0.5%;
  }
  .aside-divs:first-child{
     display:none;
  }
  aside div {
    width: 80%;
    border-radius: 10px;
    margin: .2rem;
    padding: .2rem 0.3rem;
  }
  main {
    height: 80%;
    margin: auto;
    padding-top: 1rem;
  }

  .modal-content {
    width: 70%;
    height: 35%;
  }

  .congrats {
    font-size: 1.3rem;
  }

  #reset-button {
    font-size: 1rem;
  }

  .card {
    height: 22%;
    width: 14%;
    margin: .2rem;
  }
}
